<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Williams Specialty Company | {{title}}</title>
	<link href="/styles/site.css" rel="stylesheet"> {{!-- This file provides the default styling for the KeystoneJS Content Editor - only renders when user is logged in and
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	admin--}} {{{isAdminEditorCSS user}}} {{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries //-
	Safely remove this block if you are not targeting IE8 --}}
	<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body>
	<div id="header">
		<div class="container">

      <!-- Login Confirm -->
      {{#if user}}
        <div class="container" style="margin-bottom: 5px">
          Welcome back <strong>{{user.name.first}}</strong>
        </div>
      {{/if}}

			<div role="navigation" class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a href="/" class="navbar-brand">Williams Specialty Company</a>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-left">
							{{# each navLinks}}
							<li {{#ifeq ../section key}}class="active" {{else}}{{/ifeq}}>
								<a href="{{ href }}">{{ label }}</a>
							</li>
							{{/each}}
						</ul>
						<ul class="nav navbar-nav navbar-right">
							{{#if user}}
                {{#if user.isAdmin}}
                  <li>
                    <a href="/keystone">Admin UI</a>
                  </li>
                {{else}}
                  <li>
                    <a href="/cart">Shopping Cart</a>
                  </li>
                {{/if}}
							<li>
								<a href="/logout">Logout</a>
							</li>
							{{else}}
							<li>
								<a data-toggle="modal" data-target="#login">Sign In</a>
							</li>
							<li>
								<a data-toggle="modal" data-target="#register">Register</a>
							</li>
							{{/if}}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

{{!-- Login Modal --}}
<div id="login" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
<<<<<<< HEAD
      <form action="/login" type="post">
        <div class="modal-body">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
=======
      <form id="userLogin" action="/login" method="POST">
      	<input type="hidden" name="action" value="login">
        <div class="modal-body">
          <div class="form-group">
            <label for="login_email">Email address</label>
            <input required data-parsley-type="email" type="email" class="form-control" id="login_email" name="login_email" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="login_password">Password</label>
            <input required type="password" class="form-control" id="login_password" name="login_password" placeholder="Password">
>>>>>>> 913dd083ffa0da762061396fb2ed239a091b1830
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>

  {{!-- Register Modal --}}
  <div id="register" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Register</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="userRegister" action="/register" method="POST">
        <div class="modal-body">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input required type="firstName" class="form-control" id="firstName" name="firstName" aria-describedby="firstNameHelp" placeholder="Enter first Name">
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input required type="lastName" class="form-control" id="lastName" name="lastName" aria-describedby="lastNameHelp" placeholder="Enter Last Name">
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input required data-parsley-type="email" type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input required type="password" class="form-control" id="password" name="password" placeholder="Password">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
<<<<<<< HEAD

=======
>>>>>>> 913dd083ffa0da762061396fb2ed239a091b1830
	<div id="body">
		<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
		{{#if messages}}
		<div id="flash-messages" class="container">
			{{#if messages.info}}
			<div class="alert alert-info">
				{{{flashMessages messages.info}}}
			</div>
			{{/if}} {{#if messages.success}}
			<div class="alert alert-success">
				{{{flashMessages messages.success}}}
			</div>
			{{/if}} {{#if messages.warning}}
			<div class="alert alert-warning">
				{{{flashMessages messages.warning}}}
			</div>
			{{/if}} {{#if messages.error}}
			<div class="alert alert-danger">
				{{{flashMessages messages.error}}}
			</div>
			{{/if}}
		</div>
		{{/if}}
		
    <!-- The content block should contain the body of your template's content-->
    {{{body}}}
	
  </div>
	<div class="container">
		<div id="footer">
			<p>Williams Specialty Company &copy; 2019 | <a href="/privacy-policy">Privacy Policy</a></p>
		</div>
	</div>
	{{!-- //- jQuery 1.11.3 is included by default, and required by both Bootstrap //- and the KeystoneJS Content Editor. If
	you are not targeting IE8, //- you can upgrade to 2.1.4 (also bundled) for better performance. --}}
	<script src="/js/jquery/jquery-1.11.3.min.js"></script> {{!-- //- Customise which Bootstrap javascript files are served by including //- them specifically here, instead of bootstrap-3.3.5.min.js
	--}}
	<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script> {{{isAdminEditorJS user}}}

  <script src="/js/parsely.min.js"></script>
  <script src="/js/wsc.js"></script>

  <script>
    $('#userLogin').parsley();
    $('#userRegister').parsley();
  </script>
</body>

</html>