{{!< default}}
<div class="container">
	<div>
		<h1>{{product.name}}</h1>
		<img src={{product.image.secure_url}} alt={{product.name}} />
		<h2>{{{product.description}}}</h2>
    <button onClick="addToCart({{ product }})" class="btn btn-primary" >Purchase</button>
	</div>
</div>
