<<<<<<< HEAD

<div class="container">
    <div class="row">
        <div class='col-md-12 col-lg-12'>
            <article>
            <p><a href="/">&larr; Back</a></p>
            <hr>
            <header>
                <h1>{{data.product.name}}</h1>
            </header>
            <div class="row">
                <div class='col-md-6 col-lg-6'>
                    {{#if data.product.image}}
                    <img src="{{cloudinaryUrl data.product.image}}" alt="Card image cap">
                    {{/if}}
                </div>
                <div class='col-md-6 col-lg-6'>
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Price:</strong>{{data.product.price}}</li>
                        <li class="list-group-item"><strong>QTY:</strong>{{data.product.quantity}}</li>
                    </ul>
                    <div class="well">
                        {{{data.product.description}}}
                        
                        {{!--<a href={{contactUrl data.product.key}} class="btn btn-primary">Contact Us</a>--}}
                        <a href="/addToCart/{{data.product.key}}" class="btn btn-primary">Add To Cart</a>
                        <form action="/post/{{data.product.key}}" method="post">
                        <input type="text" name="id">
                        <button class="btn btn-primary" type="submit">Purchase</button>
                    </form>
                    </div>
                </div>
            </div>
            </hr>
            </article>
        </div>
    </div>
</div>
=======
{{!< default}}
<div class="container">
	<div id="product">
    <input type="hidden" id="user" name="user" value="{{ user }}" />
    <input type="hidden" id="product_id" name="product_id" value="{{ product._id }}" />
    <input type="hidden" id="product_name" name="product_name" value="{{ product.name }}" />
		<h1>{{product.name}}</h1>
		<img src={{product.image.secure_url}} alt={{product.name}} />
		<h2>{{{product.description}}}</h2>
    <hr/>
    <p id="qty"><strong>Quantity in stock: </strong>{{product.quantity}}</p>
    <p id="price"><strong>Price: </strong> {{product.price}}</p>
    {{#if user}}
      {{#if user.isCustomer}}
        <hr/>
        <button onClick="addToCart()" class="btn btn-primary" >Add to Cart</button>
      {{/if}}
    {{/if}}
    <p id="message"></p>
	</div>
</div>
>>>>>>> 913dd083ffa0da762061396fb2ed239a091b1830
