
<div class="container">
    <div class="row">
        <div class='col-md-12 col-lg-12'>
            <article>
            <p><a href="/">&larr; Back</a></p>
            <hr>
            <header>
                <h1>{{data.product.name}}</h1>
            </header>
            <div class="row">
                <div class='col-md-6 col-lg-6'>
                    {{#if data.product.image}}
                    <img src="{{cloudinaryUrl data.product.image}}" alt="Card image cap">
                    {{/if}}
                </div>
                <div class='col-md-6 col-lg-6'>
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Price:</strong>{{data.product.price}}</li>
                        <li class="list-group-item"><strong>QTY:</strong>{{data.product.quantity}}</li>
                    </ul>
                    <div class="well">
                        {{{data.product.description}}}
                        
                        {{!--<a href={{contactUrl data.product.key}} class="btn btn-primary">Contact Us</a>--}}
                        <a href="/addToCart/{{data.product.key}}" class="btn btn-primary">Add To Cart</a>
                        <form action="/post/{{data.product.key}}" method="post">
                        <input type="text" name="id">
                        <button class="btn btn-primary" type="submit">Purchase</button>
                    </form>
                    </div>
                </div>
            </div>
            </hr>
            </article>
        </div>
    </div>
</div>