{{!< default}}
<div class="container">
	<div id="product">
    <input type="hidden" id="user_id" name="user_id" value="{{ user._id }}" />
    <input type="hidden" id="product_id" name="product_id" value="{{ product._id }}" />
    <input type="hidden" id="product_name" name="product_name" value="{{ product.name }}" />
		<h1>{{product.name}}</h1>
		<img src={{product.image.secure_url}} alt={{product.name}} />
		<h2>{{{product.description}}}</h2>
    <hr/>
    <p id="qty"><strong>Quantity in stock: </strong>{{product.quantity}}</p>
    <p id="price"><strong>Price: </strong> {{product.price}}</p>
    {{#if user}}
      {{#if user.isCustomer}}
        <hr/>
        <button onClick="addToCart()" class="btn btn-primary" >Add to Cart</button>
      {{/if}}
    {{/if}}
    <p id="message"></p>
	</div>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</div>
